@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto' Arial, Helvetica, sans-serif;
}

:root {
   --paragraph-text-size: clamp(14px, 1.5vw, 18px);
   --padding: clamp(12px, 3vw, 32px);
   --least-padding: clamp(6px, 3vw, 12px);
   --padding-block: clamp(12px, 3vw, 32px);
   --padding-inline: clamp(16px, 4vw, 40px);
   --margin: clamp(16px, 4vw, 64px);
   --least-margin: clamp(8px, 4vw, 16px);
   --margin-block: clamp(16px, 4vw, 64px);
   --margin-inline: clamp(12px, 5vw, 48px);
   --width: clamp(320px, 90%, 1200px);
   --card-width: clamp(260px, 30vw, 340px);
   --card-height: clamp(240px,38vh,420px);
   --border-radius: clamp(8px, 2vw, 20px);
   --primary-text-color: #183b56;
   --second-prime-color:rgba(29, 22, 91, 0.8);
   --secondary-text-color:#577592;
   --accent-color:#2294ed;
   --accent-color-dark:#1d69a3;
}

body {
    font-family:  Arial, Helvetica, sans-serif;
    color:var(--primary-text-color);
}

h1 {
    font-size:clamp(26px, 4vw,56px);
    line-height: 1.2;
}

h2 {
    font-size:clamp(20px, 3vw,40px);
    line-height: 1.3;
}

h3 {
    font-size:clamp(18px, 2.2vw,28px);
    line-height: 1.4;
}

h4 {
   font-size:clamp(12px, 2.2vw,14px);
    line-height: 1.4; 
}

p {
    font-size: var(--paragraph-text-size);
    line-height: 1.4;
}

/*------Properties--------*/

.container {
    max-width:80%;
    height:auto;
    margin:auto;
}

.simple-flex {
    display: flex;
    justify-content: flex-start;
}

.flex {
    display: flex;
    justify-content:flex-start;
}

button {
    font-weight: bold;
    margin-top: var(--least-margin);
}

.primary-button {
    padding:var(--least-padding);
    border-radius: 8px;
    border: none;
    margin-right: var(--least-margin);
}
.primary-button:hover {
    transform: translateY(-5px) scale(1.0);
    background-color: var(--accent-color);
    color:white;
}

.secondary-button {
    padding:var(--least-padding);
    border-radius: 8px;
    border: none;
    background-color: aquamarine;
}

.secondary-button:hover {
    transform: translateY(-5px) scale(1.0);
    background-color: var(--accent-color);
    color:white;
}

/*-------header--------*/

header {
    padding: var(--least-padding);
    background-color: var(--primary-text-color);
}

.navbar {
    margin-top: var(--least-margin);
}

.ul-class {
    list-style: none;
    gap:10%;
}
.nav-links {
    color:white;
    text-decoration: none;
    font-size:clamp(14px, 2.2vw,18px);
}

.nav-links {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 5px;
    
}

.nav-links::after {
    content:'';
    position: absolute;
    left:0;
    width:0;
    bottom: 0;
    height: 2px;
    background-color: White;
    transition: 0.5s ease;
}

.nav-links:hover::after {
    width:100%;
}

/*-------Topper Section-------*/

.topper {
    width: 100%;
    background-color:#504f7f;
    height: auto;
    padding: 10px;

}
.top-flex {
    flex-direction: column;
}
.position-flex {
    position: relative;
}
.text-section {
    width: 100;
    padding:var(--padding);
    height: auto;
    position: absolute;
    top:350px;
    left:50px;
    border: 2px solid black;
    
}

.image-section {
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.image-section img {
    width: 100%;

}


.heading1 {
    color:white;
    padding-bottom:var(--least-padding);
}

.heading2 {
    color: aquamarine;
    padding-bottom:var(--least-padding);
}

hr {
    width: 42%;
}

.p1 {
    color:white;
    padding-top:var(--least-padding);
}

/*------Middle Section-------*/

.h3-color {
    color: black;
}
.p1-color {
    color:black;
}

.hr2 {
    max-width: 100%;
    margin-block:clamp(6px, 4vw, 10px);
    border:none ;
    background-color: #ddd;
    height: 1.5px;
}

.middle-section {
    padding: var(--padding);
}



.about-section {
  width: 49%;
}


.about-list {
    padding: var(--least-padding);
    margin-left:var(--least-margin);
}

.project-section {
    width: 48%;
    padding-inline: var(--padding);
   border-left: 2px solid #ddd;
   
}

.boxes {
    width: 100%;
    margin-top: var(--least-margin);
}

.box1 {
    width: 32%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 33vh;
    margin-bottom: 10px;
    border-radius: 12px;
}

.box1 img {
    width: 100%;
    height: 15vh;
    border-radius: 5px;
}

.text-boxes {
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-button {
    width: 90%;
    padding:clamp(3px, 3vw, 6px);
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    font-size:clamp(7px, 1.5vw, 15px);
    cursor: pointer;
}

.hr3 {
    margin-top:clamp(6px, 4vw, 10px);
    height: 3px;
    background-color: black;
}

/*----Skills Section-----*/

.decorate-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: var(--least-margin);
}

.decorate-line::before, .decorate-line::after {
    content: '';
    flex: 1;
    height: 2px;
    background-color: #ddd;
}

.skill-text {
    padding-inline:var(--padding-inline);
}
.class-ul {
    display: flex;
    justify-content:space-between;
    list-style: none;
}
.li-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

li img {
    width: 20%;
    transition: ease;
    padding:2px;
}

li img:hover {
    transform:scale(1.2);
    cursor: pointer;
}

/*-------contact-section-----*/

.contact-section {
    background-color:#504f7f ;
    padding-block:var(--padding-block);
    margin-top: var(--margin);
}

.contact-me {
    width: 45%;
    height: 50vh;
}

.ct {
    color: white;
}

.icon-flex {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
    margin-top: var(--least-margin);
}

.cont-img {
    width: 10%;
}

.cont-text {
    font-size: var(--paragraph-text-size);
    color: white;
    margin-left: 5px;
    letter-spacing: 0.5px;
}

.queries {
    width: 45%;
   border-radius: 8px;
    border: 2px solid;
    background-color: white;
    padding: var(--least-padding);
    display: flex;
    flex-direction: column;
    height:50vh;
}

input[type="text"],input[type="email"],textarea {
    padding: var(--least-padding);
    font-size: var(--paragraph-text-size);
    margin-bottom: var(--least-margin);
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid#ddd;
}

input[type="email"] {
    
    border: 2px solid #ddd ;
    border-left: white;
}

textarea {
     border: 2px solid #ddd ;
    border-left: white;
}

input[type="text"]:focus {
    box-shadow: 8px 8px 20px rgba(108, 216, 222, 0.5);
    border:2px solid aqua;
    outline: none;
    border-radius: 8px;
}

input[type="email"]:focus {
    box-shadow: 8px 8px 20px rgba(108, 216, 222, 0.5);
    border:2px solid aqua;
    outline: none;
    border-radius: 8px;
}

textarea:focus {
    box-shadow: 8px 8px 20px rgba(108, 216, 222, 0.5);
    border:2px solid aqua;
    outline: none;
    border-radius: 8px;
}

.font-button {
    font-size: var(--paragraph-text-size);
}

/*------footer----*/

footer {
    padding: var(--least-padding);
    background-color: var(--primary-text-color);
    color: white;
}
.ul-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
}
.footer-list {
    list-style: none;
}

/*---------media queries----------*/
@media (max-width:480px) {


    .ul-class {
        gap:5%;
    }
    .nav-links {
    font-size:clamp(12px, 2.2vw,18px);
}

.top-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-section{
top:100px;
left: 10px;
 width: 100%;
 padding:clamp(5px, 3vw, 12px);
}

.heading1 {
    font-size: 16px;
    padding-bottom: 4px;
}
.heading2 {
    font-size: 14px;
    padding-bottom: 4px;
}
hr {
    width: 60%;
}
.p1 {
    padding-top: 4px;
}
.bp {
    font-size: 10px;
}
.primary-button,.secondary-button {
    padding:5px
}
.image-section {
    width: 100%;
    margin-left: 0;
    height: auto;
}
.image-section img {
    width: 100%;
}

/*----Middle section----*/
.middle-section {
    padding: 2px;
}
.about-section {
  width: 100%;
  padding: 11px;
}
.boxes {
    flex-wrap: wrap;
    flex-direction: column;
}
.box1 {
    width: 100%;
}
.project-section {
    width: 100%;
    padding: 3px;
    border: none;
    border-top: 2px solid #ddd;
    margin-top: 2px;
}


.about-list {
    padding:3px;
    margin-left:2px;
}

.hr2 {
    margin-block: 2px;
}

.res-flex {
    flex-direction: column;
}
.hr3 {
    margin-top: 4px;
}

.project-button {
    width: 70%;
    font-size: 10px;
}

/*----skill section----*/

li img {
   width: 40%;
}

/*---contact section-----*/

.res-flex {
    flex-direction: column;
}

.contact-me {
    width: 100%;
    border: 2px solid black;
    height: auto;
}

.queries {
    width: 100%;
    border: 2px solid black;
}

input[type="text"],input[type="email"],textarea {
    padding:3px;
}
    
}



